<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" href="../css/league-stats.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.0/font/bootstrap-icons.css">
<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>

</head>
<body>
	
	<div th:replace=" ~{ /layout/header :: header }"></div>
	
	<div id="container">
		
		<div class="leagueSidebar">
			<ul>
				<li><a href="/league/index">리그 목록</a></li>
				<li><a href="/league/stats">기록실</a></li>
			</ul>
		</div>
		
		<div class="contentArea">
			
			<div th:if="${league_id == null}" style="text-align: center; padding: 10px 0;">
				<p>리그를 선택해 주세요.</p>
				<p>[[${league_id}]]</p>
			</div>
			<div class="statsArea" th:if="${league_id != null}">
				
				<div class="winArea">
					<p>다승 순위</p>
					<ul>
						<li th:each="player : ${winList}">
							[[${player.username}]]
							[[${player.pitcher_win}]]승
						</li>
					</ul>
				</div>
				<div class="eraArea">
					<p>평균자책점 순위</p>
					<ul>
						<li th:each="player : ${eraList}">
							[[${player.username}]]
							[[${player.pitcher_era}]]
						</li>
					</ul>
				</div>
				<div class="soArea">
					<p>탈삼진 순위</p>
					<ul>
						<li th:each="player : ${soList}">
							[[${player.username}]]
							[[${player.pitcher_so}]]
						</li>
					</ul>
				</div>
				<div class="baArea">
					<p>타율 순위</p>
					<ul>
						<li th:each="player : ${baList}">
							[[${player.username}]]
							[[${player.batter_ba}]]
						</li>
					</ul>
				</div>
				<div class="rbiArea">
					<p>타점 순위</p>
					<ul>
						<li th:each="player : ${rbiList}">
							[[${player.username}]]
							[[${player.batter_rbi}]]
						</li>
					</ul>
				</div>
				<div class="hrArea">
					<p>홈런 순위</p>
					<ul>
						<li th:each="player : ${hrList}">
							[[${player.username}]]
							[[${player.batter_hr}]]
						</li>
					</ul>
				</div>
				
			</div>
			
			<div class="regionTabBox">
				<div class="regionTab">
					<a th:href="@{/league/stats(location_id='00')}">전체</a>
					<a th:href="@{/league/stats(location_id='01')}">서울</a>
					<a th:href="@{/league/stats(location_id='02')}">인천</a>
					<a th:href="@{/league/stats(location_id='03')}">대전</a>
					<a th:href="@{/league/stats(location_id='04')}">광주</a>
					<a th:href="@{/league/stats(location_id='05')}">대구</a>
					<a th:href="@{/league/stats(location_id='06')}">부산</a>
					<a th:href="@{/league/stats(location_id='07')}">울산</a>
					<a th:href="@{/league/stats(location_id='08')}">경기</a>
					<a th:href="@{/league/stats(location_id='09')}">강원</a>
					<a th:href="@{/league/stats(location_id='10')}">충청</a>
					<a th:href="@{/league/stats(location_id='11')}">경상</a>
					<a th:href="@{/league/stats(location_id='12')}">전라</a>
				</div>
			</div>
			<div class="leagueList">
				<div class="listHeader">
					<p>리그 이름</p>
					<p>개최 기간</p>
					<p>기록 보기</p>
				</div>
				<div class="listBody">
					<ul>
						<li th:each="league : ${lList}" class="leagues">
							<p>[[${league.league_name}]]</p>
							<p>[[${league.league_start_date}]] - [[${league.league_end_date}]]</p>
							<p><a th:href="@{/league/stats(league_id=${league.league_id})}"><i class="bi bi-zoom-in viewStats" style="cursor: pointer;"></i></a></p>
							</div>
						</li>
					</ul>
				</div>
				
				
			</div>
			
		</div>
	</div>
	
	<script>
		
		$('.viewStats').click(function(e) {
			console.log($(e.target).children().val());
		})
		
		
		
	</script>
	
	
</body>
</html>