<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" href="../css/community-post.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.0/font/bootstrap-icons.css">
<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>

</head>
<body>
	
	<div th:replace=" ~{ /layout/header :: header }"></div>
	
	<div id="container">
		
		
		<div class="contentArea">
			<div class="categoryTabBox">
				<div class="categoryTab">
					<a id="backLink" th:href="@{/community/index}"><i class="bi bi-caret-left-fill"></i>뒤로가기</a>
				</div>
			</div>
			<div class="postArea">
				<div class="postHeader">
					<p th:text="'[' + ${post.board_id} + ']'" class="post_category"></p>
					<p>[[${post.post_title}]]</p>
					<br/>
					<p style="padding-top: 5px; padding-right: 10px; border-right: 1px solid lightgray;">[[${post.post_author}]]</p>
					<p style="padding-left: 10px;">[[${#temporals.format(post.post_regist_date, 'yyyy-MM-dd HH:mm:ss')}]]</p>
					<p class="deletePostBtn" sec:authorize="isAuthenticated()" th:if="${#authentication.principal.username == post.post_author}" style="cursor: pointer;">글 삭제</p>
					<a th:href="@{/community/updatePost(post_id=${post.post_id})}" class="updatePostBtn" sec:authorize="isAuthenticated()" th:if="${#authentication.principal.username == post.post_author}" style="cursor: pointer; padding-left: 15px;">글 수정</a>
					<p class="post_views">조회 : [[${post.post_views}]]</p>
				</div>
				<div class="postBody">
					<p>[[${post.post_content}]]</p>
				</div>
				<div class="commentArea">
					<div class="commentHeader">
						<p>전체댓글</p>
					</div>
					<div class="commentBody">
						<div>
							<ul class="commentList">
								<li th:each="comment : ${cList}" class="comment">
									<form class="commentForm">
										<p class="user_name" style="text-align: start;">[[${comment.user_name}]]</p>
										<p class="comment_content" style="text-align: start;">[[${comment.comment_content}]]</p>
										<p class="comment_regist_date" style="text-align: end;">[[${comment.comment_regist_date}]]</p>
										<input hidden type="text" name="post_id" class="post_id" th:value="${comment.post_id}"/>
										<input hidden type="text" name="comment_id" class="comment_id" th:value="${comment.comment_id}"/>
										<button class="deleteBtn" type="submit" sec:authorize="isAuthenticated()"><i class="bi bi-x-square deleteComment"></i></button>
									</form>
								</li>
							</ul>
						</div>
					</div>
					<form id="addCommentForm">
						<div sec:authorize="!isAuthenticated()" class="commentErrMsg">
							<p>댓글 등록은 로그인 후 이용하실 수 있습니다.</p>
						</div>
						<div sec:authorize="isAuthenticated()">
							<div class="commentAdd">
								<textarea class="commentBox" name="comment_content"></textarea>
								<input hidden type="text" name="user_name" class="user_name" th:value="${username}"/>
								<input hidden type="text" name="post_id" class="post_id" th:value="${post.post_id}"/>
							</div>
							<div class="btnArea">
								<button class="submitBtn" type="submit">등록</button>
						</div>
						</div>
					</form>
				</div>
				
			</div>
		</div>
	</div>
	
	
	<script th:inline="javascript">
		
		
		// 댓글 달기
		$('#addCommentForm').submit(function(e){
			e.preventDefault();
			
			// 데이터 직렬화
			var commentData = $('#addCommentForm').serialize();
			
			
			$.ajax({
				type: "POST",
				url: "/community/addComment",
				data: commentData,
				success: function(response) {
					var commentList = "";
					for(var i = 0; i < response.length; i++){
						console.log(response[i]);
						
						commentList += "<li class='comment'><form class='commentForm'><p class='user_name' style='text-align: start;'>" + response[i].user_name + "</p><p class='comment_content' style='text-align: start;'>" + response[i].comment_content + "</p><p class='comment_regist_date' style='text-align: end;'>" + response[i].comment_regist_date + "</p><input hidden type='text' name='post_id' class='post_id' value='" + response[i].post_id + "'><input hidden type='text' name='comment_id' class='comment_id' value='" + response[i].comment_id + "'><button class'deleteBtn' type='submit'><i class='i bi-x-square deleteComment'></i></button></form></li>";
					} 
					$(".commentList").empty();
					$(".commentList").append(commentList);
					
					$(".commentBox").val("");
				},
				error: function(error) {
					console.log("에러 : " + JSON.stringify(error));
				}
			});
		});
		
		// 댓글삭제
		$('.commentForm').submit(function(e) {
			
			e.preventDefault();
			
			var commentData = $('.commentForm').serialize();
			
			
			$.ajax({
				type: "DELETE",
				url: "/community/deleteComment",
				data: commentData,
				success: function(response) {
					var commentList = "";
					for(var i = 0; i < response.length; i++){
						console.log(response[i]);
						
						commentList += "<li class='comment'><form class='commentForm'><p class='user_name' style='text-align: start;'>" + response[i].user_name + "</p><p class='comment_content' style='text-align: start;'>" + response[i].comment_content + "</p><p class='comment_regist_date' style='text-align: end;'>" + response[i].comment_regist_date + "</p><input hidden type='text' name='post_id' class='post_id' value=" + response[i].post_id + "><input hidden type='text' name='comment_id' class='comment_id' value='" + response[i].comment_id + "'><button class='deleteBtn' type='submit'><i class='i bi-x-square deleteComment'></i></button></form></li>";
					} 
					$(".commentList").empty();
					$(".commentList").append(commentList);
					
					$(".commentBox").val("");
				},
				error: function(response) {
					console.log(response);
				}
			})
		});
		
		
		$('.deletePostBtn').click(function(e) {
			console.log(e.target);
			$.ajax({
				type: "POST",
				url: "/community/deletePost/" + $('.post_id').val(),
				success: function(response) {
					window.location.href = "/community/index";
				},
				error: function(error){
					
				}
			});
		});
		
		
		
		
										
	</script>
	
	
</body>
</html>